logs/*.log
src/server/logs/*.log
src/server/logs/*.txt
!.gitignore
node_modules/*
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace
lib/doc/
lib-cov/
.DS_Store
.idea/*
test_/*
design/*
public/*
uploads/*
app/server/log/*.txt
tmp/
.env
datalogs/*.log
.coverrun
.coverdata/
