<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!--<link href="/stylesheets/base.css" rel="stylesheet">-->
    <!--<link href="/stylesheets/common.css" rel="stylesheet">-->
    <!--<link href="/stylesheets/page.css" rel="stylesheet">-->
    <!-- 建议在项目中把CSS分好level，好维护和管理 -->
    <style>
        
    </style>
  </head>
  <body>
    <% include wrap/header.html %>
    <% include wrap/body.html %>
    <% include wrap/footer.html %>
  <script src="js/lib/regular.min.js"></script>
	<script data-main="js/main" src="js/lib/require.min.js"></script>
  </body>
</html>
